<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div>
    <ul id="example-1">
        <li v-for="item in items" :key="item.message">
            {{item.message}}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="value,key in object">
            {{key}}---{{ value }};
        </li>
    </ul>
</div>
</body>
<script>
    var exam_1 = new Vue({
        el:"#example-1",
        data : {
            items : [
                {message:'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    var exam_2 = new Vue({
        el:"#example-2",
        data : {
            parentMessage : "parent",
            items: [
                {message:'Foo2'},
                {message: 'Bar2'}
            ]
        }
    })

    var vfor_object = new Vue({
        el:"#v-for-object",
        data : {
            object : {
                title: 'How to do lists in Vue',
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            }
        }
    })
</script>
</html>